* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 60px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span, a {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

:root {
    --primary-color: #947f57;
    --secondary-color: #B4AA99;
    --accent-color: #4D8D7D;
}

h1, h2 {
    color: var(--primary-color);
}

.read-more-link > a {
    color: var(--accent-color);
}

.cta-button {
    background-color: var(--accent-color);
    color: white;
}

.cta-button:hover {
    color: white;
    opacity: 0.8;
}