/* We limit the carousel height so the images don't make it too big */
.carousel .carousel-inner {
    max-height: 89vh;
}

.carousel-item > img {
    max-height: 89vh;
    object-fit: cover;
}

.project-type-article {
    border: 3px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.current-project-image {
    aspect-ratio: 1/1;
    object-fit: cover;
}