.footer {
    margin-top: 100px;
}


.res{
    width:250px;
    height: auto;
}

.project-price {
    height: 100%;   
}

.project-body {
    display: flex;
    flex-direction: column;
}